:root{
  --n_courses: 10;
}

.head-courses {
  background-color: #eee;
}

.head-courses .contenedor {
  padding: 0;
  width: 100%;
}

.head-courses-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-courses-texts {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-texts {
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 90%;
}

.block-texts h4 {
  width: 60%;
}

.block-texts p {
  margin-top: 10px;
}

.head-courses-img {
  width: 50%;
}

.head-courses-img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.courses-titles h2 {
  color: hsl(209, 100%, 30%);
}

.courses-titles h5 {
  font-weight: 400;
}

.carrousel-button-cat {
  border: none;
  background-color: transparent;
  padding: 10px 0 5px 0px;
  margin: 5px 5px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #555;
}
.carrousel-button-cat:hover {
  color: black;
}

.courses-car-galery{
  width: 100%;
  border: 1px solid #aaa;
  padding: 30px;
  height: 100%;
}

.courses-category{
  display: none;
  overflow: hidden;
}

.category-visible{
  display: block;
}

.courses-cat-text{
  width: 60%;
}

.courses-cat-text p{
  margin-top: 10px;
}

.courses-cards{
  height: 270px;
  width: calc(270px*var(--n_courses)*2);
  display: flex;
  margin: 20px 0 0 0;
  position: relative;
}

.courses-slider{
  position: absolute;
  cursor: pointer;
  animation: scroll 20s linear infinite;
}

.courses-slider:hover{
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px*var(--n_courses)));
  }
}

.courses-card{
  padding: 10px;
  width: 250px;
  height: 270px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.courses-card-img{
  width: 100%;
  height: 150px;
  position: relative;
}

.courses-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to right,
      hsla(184, 70%, 54%, 0.301),
      hsla(221, 73%, 63%, 0.308)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: scale(0);
    transition: transform 0.5s;
}

.shadow button{
  border: none;
  background: transparent;
}

.shadow img {
  width: 80px;
  height: 80px;
  display: block;
}

.shadow p {
  color: #fff;
  font-weight: 500;
}

.courses-card:hover .shadow{
  transform: scale(1);
}

.courses-card-text{
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.courses-card-text h6{
  font-size: 15px;
}

.courses-card-text blockquote{
  padding: 5px 0;
  font-size: 13px;
  color: #888;
}

.btn-active{
  color: #000;
}

.categories-block{
  background-color: #eee;
}

.categories{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.category{
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.category h6{
  text-align: start;
  padding: 5px 0 10px 0;
  font-weight: 600;
}

.category-img{
  width: 100%;
  height: 200px;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  padding: 50px;
  position: relative;
  border-radius: 5px;
}

.category-img button{
  border: none;
  background: transparent;
}

.category-img img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  transition: width 0.3s, height 0.3s;
}

.category:hover img{
  width: 115px;
  height: 115px;
}

.categories-title{
  color: hsl(209, 100%, 30%);
  padding-bottom: 20px;
}

/*    RESULTS           */
.results-search-block{ 
  background: #eee;
  margin: 20px 0;
}

.results-search-cont{
  display: flex;
}

.results-search{
  display: flex;
  margin: 0 0 0 20px;
  flex-basis: 80%;
  height: 100%;
  flex-direction: column;
}

.mode-results{
  padding: 15px 0;
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
}

.results-card-text{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background: #fff;
  padding: 20px;
  
}

.results-card-img{
  position: relative;
  flex-basis: 30%;
  height: 200px;
  margin-right: 3px;
}

.results-card-img:hover .shadow{
  transform: scale(1);
}

.results-card-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.courses-card-description{
  margin: 5px 0;
  padding: 5px 0 5px 10px;
  font-size: 13px;
  font-weight: 400;
  background: #eee;
  border-radius: 10px;
}

.courses-card-category{
  display: inline-block;
  font-size: 13px !important;
  font-weight: 400;
  color: #fff;
  width: max-content;
  padding: 2px 10px;
  border-radius: 20px;
  background: #555;
}

.courses-card-price{
  font-size: 14px !important;
  width: max-content;
  padding: 2px 10px;
  border-radius: 20px;
  background: rgb(255, 208, 0);
  font-weight: 700;
}

.price-free{
  background: rgb(49, 212, 17);
}

.filter-results{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  border-right: 1px solid #999;
  height: 100vh;
}

.filter-type{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0 10px;
}

.filter-text{
  margin-bottom: 5px;
}

.filter-checkboxs{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.filter-checkbox{
  display: flex;
  align-items: center;
  margin: 8px;
}

.filter-checkbox > label{
  font-size: 13px;
  margin-left: 10px;
}

.filter-checkbox > input[type=checkbox]{
  transform: scale(2);
}

.filter-visibility{
  border-bottom: none;
  display: none !important;
}

.courses-nav-page{
  height: 23px;
  align-self: flex-end;
  display: flex;
  margin: 5px 0;
}

.btn-page, .btn-page-filter{
  font-family: "Rajdhani", sans-serif;
  background: hsl(209, 100%, 30%);
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin: 0 0.5px;
}

.btn-page:disabled,.btn-page-filter:disabled,
.btn-page[disabled],.btn-page-filter[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border:none !important;
}

.btn-page:active, .btn-page-filter:active{
  background: hsl(209, 100%, 19%);
}

.btn-page-active{
  border: 1px solid #eee !important;
  background: hsl(209, 100%, 19%) !important;
}

.course-visible{
  display: flex;
  border-bottom: 1px solid #999;
}

.course-novisible{
  display: none;
}

.filter-slide{
  display: none;
}

/* INFO */
.info-data{
  background: #1C1D1F;
}

.info-data > .contenedor{
  overflow: visible;
}

.info-main{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.info-carrito{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #eee;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.315);
  flex-basis: auto;
}

.info-carrito-img{
  width: 350px;
  height: 200px;
}

.info-carrito-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-carrito-text{
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.info-carrito-text > h3{
  margin-bottom: 20px;
}
.info-carrito-btn{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.info-carrito-btn > input{
  color: #fff;
  border: none;
  padding: 10px 80px;
  font-weight: 700;
}

.info-carrito-btn > input:first-child{
  background: #8c00ff;
  margin-bottom: 5px;
}

.info-carrito-btn > input:last-child{
  color: #000;
  border: 1px solid #000;
}

.info-carrito-btn > input:first-child:hover{
  background: #7101cc;
}

.info-carrito-btn > input:last-child:hover{
  background: rgb(231, 231, 231);
}

.info-carrito-text > p{
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
}

.info-content-course{
  display: flex;
  flex-direction: column;
}

.info-content-course > h6{
  margin-bottom: 10px;
}

.content-char{
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.content-char img{
  width: 18px;
  height: 18px;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}

.info-title{
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  color: #FFF;
  padding-right: 20px;
}

.info-title h6{
  font-weight: 500;
}

.info-features{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-features p{
  font-size: 13px;
}

.rating-stars{
  display: flex;
  width: 100%;
  align-items: center;
}

.rating-stars-img{
  width: 10px;
  height: 10px;
  object-fit: cover;
  display: block;
  margin-right: 3px;
}

.rating-stars-img:last-of-type {
  margin-right: 10px;
}

.rating-stars p:first-of-type{
  color: #FFC107;
  margin-right: 5px;
}

.rating-stars p{
  margin-right: 10px;
}

.info-chr{
  display: flex;
}

.chr{
  display: flex;
  margin-right: 20px;
}

.chr img{
  width: 15px;
  height: 15px;
  object-fit: cover;
  display: block;
  margin-right: 5px;
}

.learn-block{
  display: flex;
}

.learn-content{
  flex-basis: 60%;
  border: 1px solid #999;
  padding: 20px;
}

.learn-objectives{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.learn-content > h4{
  margin-bottom: 15px;
}

.objectives{
  display: flex;
  align-items: center;
}

.objectives > img{
  width: 15px;
  height: 15px;
  object-fit: cover;
  display: block;
  margin-right: 15px;
}

.requirements{
  margin-top: 30px;
  background: linear-gradient(to right,#EBF3FF, hsla(216, 100%, 96%, 0));
  padding: 20px 30px;
}

.requirements > h4{
  margin-bottom: 10px;
}

.requirements > ul > li{
  padding: 10px 0;
}

.description{
  margin-top: 30px;
}
.description h4{
  margin-bottom: 10px;
}

.description p{
  padding-left: 10px;
}

@media screen and (max-width:1000px) {
  .courses-card{
    flex-basis: 50%;
  }
  .category{
    flex-basis: 50%;
  }
  .category-img{
    width: 100%;
  }
}

@media screen and (max-width:750px) {
  .block-texts h4 {
    width: 100%;
  }
  .courses-cat-text{
    width: 100%;
  }

  .mode-results{
    flex-direction: column;
  }

  .results-card-text {
    flex-basis: 70%;
    height: 100%;
  }

  .results-card-img{
    width: 100%;
    flex-basis: 250px;
    overflow: hidden;
    margin: 0;
  }

  .filter-slide{
    display: none;
}

@media screen and (max-width:600px) {
  .head-courses-back {
    flex-direction: column;
  }

  .head-courses-img {
    width: 100%;
  }

  .head-courses-texts {
    width: 100%;
  }

  .block-texts {
    width: 100%;
  }

  h4{
    font-size: 20px;
  }

  h6{
    font-size: 15px;
  }
}

@media screen and (max-width:450px) {
  .courses-card{
    flex-direction: column;
    flex-basis: 100%;
  }
  .courses-card-img{
    width: 100%;
  }
  .courses-card-text{
    width: 100%;
    padding-left: 0;
    height: max-content;
  }
  .category{
    flex-basis: 100%;
  }

  .results-search {
    margin: 0;
  }

  .results-search-cont {
    flex-direction: column;
  }

  .filters{
    display: flex;
    overflow: hidden;
    height: 100%;
    position: relative;
    transition: max-height 0.5s ease-in-out;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .filter-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 5px 0;
    background: linear-gradient(to top, #eee, hsla(0, 0%, 0%, 0));
    border-bottom: 1px solid #eee;
  }

  .filter-slide > button{
    border: none;
    background-color: transparent;
  }

  .filter-slide > button > img{
    height: 40px;
    display: block;
  }

  .filter-results {
    border: none;
    margin-bottom: 20px;
  }

  .filter-checkboxs{
    margin:0;
  }

  .filter-checkbox > input[type=checkbox] {
    transform: scale(1.5);
  }

  .filter-type {
    margin: 5px 0 50px 0;
    flex-basis: 50%;
  }

  .filter-text > h6{
    text-align: center;
  }
}