h1{
    color: hsl(209, 100%, 30%);
}

.contact-block{
    display: flex;
}

.mail-block{
    flex-basis: 50%;
    border-right: 2px solid hsl(209, 100%, 30%);
    padding: 20px;
}

.map-phone-block{
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #EBF3FF;
}

.mail-formulario{
    width: 90%;
    padding-top: 10px;
}

.mail-text{
    padding-bottom: 20px;
    border-bottom: 2px solid hsl(209, 100%, 30%);
}
.campo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
}

.campo > input{
    margin-top: 5px;
    height: 25px;
    border: none;
    background: linear-gradient(to bottom, #fff, rgb(250, 250, 250));
    border-bottom: 1px solid hsl(209, 100%, 30%);
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    padding: 10px;
}

#name{
    text-transform: capitalize;
}

.campo > input:focus{
    outline: none;
    background: linear-gradient(to bottom, #fff,rgb(240, 240, 240));
    border-bottom: 2px solid hsl(209, 100%, 50%);
}

.campo-textarea{
    width: 100%;
    height: 300px;
}

.campo > textarea{
    resize: none;
    height: 100%;
    margin-top: 5px;
    border: none;
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(250, 250, 250));
    border-bottom: 1px solid hsl(209, 100%, 30%);
    border-left: 1px solid hsl(209, 100%, 30%);
    font-family: "Rajdhani", sans-serif;
    font-weight: 500 !important;
    padding: 10px;
}

.campo > textarea:focus{
    outline: none;
    background: linear-gradient(to bottom, #fff,rgb(240, 240, 240));
    border-bottom: 2px solid hsl(209, 100%, 50%);
    border-left: 2px solid hsl(209, 100%, 50%);
}

#btn-send{
    width: 100%;
    color: #ddd;
    background: hsl(209, 100%, 30%);
    border: 1px solid hsl(209, 100%, 30%);
    padding: 8px 15px;
    font-size: 16px;
    transition: background 0.5s, color 0.5s;
}

#btn-send:hover{
    color: #fff;
    background: rgb(0, 96, 185);
}

#btn-send:active{
    color: #bbb;
    background: rgb(0, 54, 105);
}

.map-text{
    text-align: right;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid hsl(209, 100%, 30%);
}

.phone-text{
    text-align: right;
    margin: 20px 0 20px 0;
    border-top: 2px solid hsl(209, 100%, 30%);
    border-bottom: 2px solid hsl(209, 100%, 30%);
    padding: 20px 0;
}

.numberphone{
    display: flex;
    align-items: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

.numberphone h6{
    padding-left: 10px;
}

.numberphone img{
    width: 35px;
    height: 35px;
}

.alert{
    text-align: center;
    padding: 20px;
    color: white;
    opacity: 1;
    animation: parpadeo 1.5s ease-in alternate infinite;
}

@keyframes parpadeo{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.success{
    background: #04AA6D;
}
  
.error{
    background: #d64040;
}

@media screen and (max-width:1000px) {
    .contact-block h1{
        font-size: 40px;
    }
}


@media screen and (max-width:750px) {
    .contenedor{
        padding-top: 0;
    }
    
    .contact-block {
        display: flex;
        flex-direction: column;
    }
    .mail-block {
        flex-basis: 100%;
        border-right: none;
        border-bottom: 2px solid hsl(209, 100%, 30%);
    }
}

@media screen and (max-width:450px) {
    .contact-block h1{
        font-size: 30px;
    }
}